body {
    color: #212121;
    font-family: 'Roboto';
    font-size: 14px;
}

/* ------------------------------------------------------header */
header {
    background-color: #ffffff;
}

.icon {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

span {
    color: #2196F3;
}

.list {
    list-style: none;
}

.item {
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.item:hover {
    color: #2196F3;
}

.item:focus {
    color: #2196F3;
}

.link {
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:hover {
    color: #2196F3;
}

.link:focus {
    color: #2196F3;
}

/* ------------------------------------------------------section-one */
.section-one {
    background-color: #2F303A;
}

h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* ------------------------------------------------------section-two */
.section-two {
    background-color: #FFFFFF;
}

.section-two-list {
    list-style: none;
}

.section-two-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-two-text {
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------------------------------------------------section-three */
.section-three {
    background-color: #FFFFFF;
}

.section-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-three-list {
    list-style: none;
}

.section-three-image {
    width: 370px;
    height: 294px;
}

/* ------------------------------------------------------section-four */
.section-four {
    background-color: #F5F4FA;
}

.section-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-four-list {
    list-style: none;
}

.section-four-image {
    width: 270px;
    height: 260px;
}

.name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.profession {
    font-family: 'Roboto';
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* ------------------------------------------------------footer */
footer {
    background-color: #2F303A;
}

.section-four-list {
    list-style: none;
}

.address {
    color: #FFFFFF;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.mail {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address:hover {
    color: #2196F3;
}

.address:focus {
    color: #2196F3;
}

.mail:hover {
    color: #2196F3;
}

.mail:focus {
    color: #2196F3;
}

.tel:hover {
    color: #2196F3;
}

.tel:focus {
    color: #2196F3;
}

/* ------------------------------------------------------portfolio */

.portfolio-list {
    list-style: none;
}

.portfolio-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.portfolio-item:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio-image-list {
    list-style: none;
}

.portfolio-image {
    width: 370px;
    height: 294px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-title-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}